header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  margin: -10px;
  position: relative;
  height: 100px;
}
h1 {
  color: white;
  font-size: 0.9em;
  position: absolute;
  left: var(--h1-left);
  top: var(--h1-top);
  font-size: var(--h1-size);
  font-family: "Poppins", sans-serif;
}
.circle {
  height: 12.5px;
  width: 12.5px;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 0.9em;
  font-weight: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.search-container {
  display: flex;
  align-items: center;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: var(--search-top);
  left: var(--search-left);
}

.search-container input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}
.search-container button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.search-container button:hover {
  color: #000;
}
